* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'PT sans', sans-serif;
  background-color: #FCFFF5;
  margin: 0;
  padding: 0;
}
@media (min-width: 501px) {
  html,
  body {
    max-width: 800px;
  }
}
@media (min-width: 801px) {
  html,
  body {
    max-width: 1000px;
    margin: 0 auto;
  }
}
h1,
h2,
h3 {
  color: #193441;
}
p {
  color: #193441;
  font-size: 1.75rem;
}
.head-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #91AA9D;
}
@media (min-width: 501px), (min-width: 801px) {
  .head-container {
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    border-bottom: 2px solid #193441;
    border-left: 2px solid #193441;
    border-right: 2px solid #193441;
    background-color: #91AA9D;
  }
}
.head-container .logo {
  font-family: 'PT sans', sans-serif;
  font-size: 4rem;
  margin-bottom: 25;
  border: 1px solid #193441;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 4px;
  background-color: beige;
}
@media (min-width: 501px) {
  .head-container .logo {
    white-space: nowrap;
  }
}
.head-container nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 5px;
}
@media (min-width: 501px), (min-width: 801px) {
  .head-container nav {
    flex-direction: row;
    flex-shrink: 1;
    max-width: 50%;
    justify-content: space-evenly;
  }
}
.head-container a:first-child {
  border-top: 1px solid #3E606F;
}
@media (min-width: 501px), (min-width: 801px) {
  .head-container a:first-child {
    border: none;
    color: #193441;
  }
}
.head-container a {
  text-align: center;
  width: 75%;
  text-decoration: none;
  border-bottom: 1px solid #3E606F;
  font-size: 3rem;
  color: #193441;
}
@media (min-width: 501px), (min-width: 801px) {
  .head-container a {
    font-size: 1.75rem;
    border: none;
    color: #193441;
    width: auto;
  }
}
.foot {
  display: flex;
  flex-direction: column;
  background-color: #91AA9D;
}
@media (min-width: 501px), (min-width: 801px) {
  .foot {
    justify-content: space-between;
    border-top: 2px solid #193441;
    border-left: 2px solid #193441;
    border-right: 2px solid #193441;
  }
}
.foot .foot-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media (min-width: 501px), (min-width: 801px) {
  .foot .foot-content {
    flex-direction: row-reverse;
  }
}
.foot .submit {
  width: 100%;
  height: auto;
  background-color: #193441;
  color: #FFFFFF;
  font-size: 3.25rem;
  border: 1px solid #FCFFF5;
  border-radius: 10px;
  margin: 8px 0;
  padding: 8px 0;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #FFFFFF;
  margin: 10px;
}
.foot .submit:hover {
  background-color: #9ac4d8;
  color: #193441;
  border: 1px solid #193441;
}
@media (min-width: 501px), (min-width: 801px) {
  .foot .submit {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.foot nav {
  display: none;
}
@media (min-width: 501px), (min-width: 801px) {
  .foot nav {
    display: flex;
    flex-shrink: 1;
    width: 50%;
    justify-content: space-evenly;
  }
}
@media (min-width: 501px), (min-width: 801px) {
  .foot nav a {
    font-size: 1.75rem;
    border: none;
    color: #193441;
    text-decoration: none;
  }
}
.foot .copy {
  align-self: center;
  color: black;
  font-size: 1.6rem;
}
.land-page .land-content {
  display: flex;
  flex-direction: column;
  background-color: #91AA9D;
  position: relative;
}
.land-page .land-content .land-img {
  display: none;
  border-radius: 10px;
}
@media (min-width: 501px), (min-width: 801px) {
  .land-page .land-content .land-img {
    position: absolute;
    display: inline-block;
    right: 25px;
    top: 25px;
    max-width: 45%;
  }
}
.land-page .land-content .land-logo {
  display: flex;
  margin: 0;
  padding-left: 5%;
  background-color: #193441;
}
.land-page .land-content h1 {
  font-family: 'PT sans', sans-serif;
  font-size: 4rem;
  padding: 5px;
  color: #FCFFF5;
  border: 1px solid #FCFFF5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@media (min-width: 801px) {
  .land-page .land-content .mid-content {
    padding-left: 50px;
  }
}
.land-page .land-content .mid-content h2 {
  margin: 10px 0px 0px 10px;
  font-size: 2.7rem;
  color: #193441;
}
.land-page .land-content .mid-content p {
  padding: 1px 0px 2px 17px;
  margin: 0;
  color: #FFFFFF;
}
.land-page .bottom-content {
  display: flex;
  background-color: #193441;
  justify-content: space-around;
  padding-left: 3%;
  padding-right: 3%;
}
.land-page .bottom-content .land-fav {
  align-self: center;
}
.land-page .bottom-content .sub-box {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  max-width: 450px;
}
.land-page .bottom-content h2 {
  font-size: 3rem;
  color: #FFFFFF;
}
.land-page .bottom-content .submit {
  width: 85%;
  height: auto;
  background-color: #91AA9D;
  color: #193441;
  font-size: 3.25rem;
  border: 1px solid #FCFFF5;
  border-radius: 10px;
  margin: 8px 0;
  padding: 8px 0;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #193441;
}
.land-page .bottom-content .submit:hover {
  background-color: #ffffff;
  color: #91AA9D;
  border: 1px solid #91AA9D;
}
.main-content {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  width: 100%;
  align-items: stretch;
}
@media (min-width: 501px) {
  .main-content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.main-content .content-box {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}
@media (min-width: 501px) {
  .main-content .content-box {
    border: 1px solid #193441;
    border-radius: 10px;
    max-width: 45%;
    margin: 10px;
    background-color: #193441;
  }
}
.main-content h2 {
  font-size: 2.5rem;
  color: #193441;
  margin: 0;
}
@media (min-width: 501px) {
  .main-content h2 {
    color: white;
  }
}
@media (min-width: 501px) {
  .main-content p {
    color: white;
  }
}
.main-content img {
  border-radius: 10px;
  border: 1px solid #193441;
}
.main-content .landing-btn {
  width: 100%;
  height: auto;
  background-color: #193441;
  color: white;
  font-size: 20px;
  border: 1px solid #FCFFF5;
  border-radius: 10px;
  margin: 8px 0;
  padding: 8px 0;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.main-content .landing-btn:hover {
  background-color: #9ac4d8;
  color: #193441;
  border: 1px solid #193441;
}
.team {
  width: 100%;
  padding: 10px;
}
.team h2 {
  font-size: 3rem;
}
.team .team-cards {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.team .team-card {
  display: none;
  width: 75%;
}
.team .team-card .team-card-name {
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 10px;
}
.team .team-card .team-card-description {
  font-size: 1.75rem;
}
.team .team-card-selected {
  display: block;
}
.team .team-tabs {
  display: flex;
  background-color: #193441;
  width: 100%;
}
.team .team-tab {
  padding: 2% 2%;
  align-content: center;
  text-align: center;
  flex: 1;
  font-size: 1rem;
  background-color: #193441;
  border-right: 1px solid white;
  color: white;
  cursor: pointer;
}
.team .team-tab:hover {
  background-color: #D1DBBD;
  color: #193441;
}
@media (min-width: 501px) {
  .team .team-tab {
    font-size: 1.5rem;
  }
}
@media (min-width: 801px) {
  .team .team-tab {
    font-size: 2.5rem;
  }
}
.team .team-tab-selected {
  z-index: 2;
  background-color: #D1DBBD;
  color: #193441;
}
.team .team-tab-selected:hover {
  background-color: white;
}
