.foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #91AA9D;

    @media @tablet, @desktop {
        flex-direction: row;
        justify-content: space-between;
        border-top: 2px solid #193441;
        border-left: 2px solid #193441;
        border-right: 2px solid #193441;
    }

    .foot-content {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

        .submit {
            .custom-btn(100%, auto, #193441, #FFFFFF, 3.25rem);
            border: 1px solid #FFFFFF;
            margin: 10px;

            @media @tablet, @desktop {
                width: auto;
                padding-left: 10px;
                padding-right: 10px;
            }
        }

        nav {
            display: none;
            
            @media @tablet, @desktop {
                display: flex;
                flex-shrink: 1;
                width: 50%;
                justify-content: space-evenly;

            }

            a {
                @media @tablet, @desktop {
                    font-size: 1.75rem;
                    border: none;
                    color: #193441;
                    text-decoration: none;
                }

            
            }
            
        }


}