.head-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;

    .logo {
        font-family: 'PT sans', sans-serif;
        font-size: 4rem;
        border-bottom: 1px solid #3E606F;
        margin-bottom: 0;
        padding-bottom: 25px;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0 5px;
    }

    a {
        text-align: center;
        width: 75%;
        text-decoration: none;
        border-bottom: 1px solid #3E606F;
        font-size: 3rem;
        color: #3E606F;

    }


}