
.land-logo {
    font-family: 'PT sans', sans-serif;
    font-size: 4rem;
    border-bottom: 1px solid #3E606F;
    margin: 0;
    padding: 25px 0;
    padding-left: 25px;
    background-color: #193441;
    color: #FCFFF5;
}

.land-content {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    background-color: #91AA9D;

    h2 {
        margin: 5px 0px 0px 10px;
        font-size: 2.7rem;
        color: #193441;
    }

    p {
        padding: 1px 0px 2px 17px;
        margin: 0;
        color: #FFFFFF;
    }

}

.bottom-content {
    display: flex;
    flex-direction: column;
    background-color: #193441;

    h2 {
        font-size: 3rem;
        color:#FFFFFF;
        align-self: flex-end;
        margin-right: 10%;
    }

    .sub-btn {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 25px;
    }

        .email {
            border: 1px solid  #193441;
            height: 50px;
            width: 85%;
            font-size: 1.75rem;
            padding-left: 10px;
        }

        .submit {
            .custom-btn(85%, auto,  #91AA9D, #193441, 3.25rem);
            border: 1px solid #193441;
        }


}

