.team {
    width: 100%;
    padding: 10px;

    h2 {
        font-size: 3rem;
    }

    .team-cards {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        padding-top: 60px;
    }

    .team-card {
        display: none;

        width: 75%;

        .team-card-name {
            font-size: 2.5rem;
            font-weight: bold;
            padding-bottom: 10px;
        }

        .team-card-description {
            font-size: 1.75rem;
        }
    }

    .team-card-selected {
        display: block;
    }

    .team-tabs {
        display: flex;
        background-color: #193441;
        width: 100%;
    }

    .team-tab {
        padding: 2% 2%;
        align-content: center;
        text-align: center;
        flex: 1;
        font-size: 1rem;
        background-color: #193441;
        border-right: 1px solid white;
        color: white;
        cursor: pointer;
        &:hover {
            background-color: #D1DBBD;
            color: #193441;
        }

        @media @tablet {
            font-size: 1.5rem;
        }
        @media @desktop {
            font-size: 2.5rem;
        }

    }

    .team-tab-selected {
        z-index: 2;
        background-color: #D1DBBD;
        color: #193441;
        &:hover {
            background-color: white;
        }
    }
}